# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
backend/venv/

# Environment Variables & Secrets
.env
.env*
*.env
**/.env*
backend/.env*
!.env.example
!backend/.env.example

# Deployment Archives & Artifacts
*.zip
backend/deploy/*.zip
backend/lambda_function.zip

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.vite/
dist/
build/
