# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
backend/venv/

# Environment Variables (AWS secrets)
.env
backend/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.vite/
dist/
build/
